.BonusRoot
{
	width: 100%;
	height: 100%;
	z-index: -1;
}

#BonusWindow
{
    align: right bottom;
	width: 140px;
	height: 36px;
    flow-children: down;
    margin-right: 270px;
    margin-bottom: 11px;
    visibility: collapse;
}

.BonusLabel
{
    font-size: 14px;
    font-weight: bold;
    align: right center;
    color: #ffffff;
    text-transform: uppercase;
    color: rgb(255, 153, 0);
}

#BonusGoldLabel
{
    font-size: 14px;
    font-weight: bold;
    align: right center;
    color: #ffffff;
    text-transform: uppercase;
    color: rgb(255, 153, 0);
}